<mat-card>
  <mat-card-content *ngIf="message" class="message">
    <mat-card-subtitle>{{message}}</mat-card-subtitle>
    <button (click)="handleResponse()" mat-raised-button>ok</button>
  </mat-card-content>
  <div *ngIf="!message">
    <button routerLink="/sign-up" routerLinkActive="active" mat-raised-button>Sign Up</button>
    <form [formGroup]="form" (ngSubmit)="singIn()" class="example-form">
      <mat-form-field class="example-full-width">
        <input type="email" formControlName="email" matInput placeholder="email"> 
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="password" minLength="7" formControlName="password" matInput placeholder="password">
      </mat-form-field>
      <button type="submit" [disabled]="!form.valid" mat-raised-button>Submit</button>
    </form>
  </div>
</mat-card>

