<mat-card>
  <mat-card-content *ngIf="message" class="message">
    <mat-card-subtitle>{{message}}</mat-card-subtitle>
    <button (click)="handleResponse()" mat-raised-button>ok</button>
  </mat-card-content>
  <div *ngIf="!message">
    <button routerLink="/sign-in" routerLinkActive="active" mat-raised-button>Sign In</button>

    <form [formGroup]="form" (ngSubmit)="save()">
      <mat-form-field class="example-full-width">
        <input type="email" formControlName="email" matInput placeholder="email"> 
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="password" minLength="7" formControlName="password" matInput placeholder="password">
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" [disabled]="!form.valid" mat-raised-button>Submit</button>
    </form>
  </div>
</mat-card>
