<div>
  <div *ngIf="info?.message" class="message">
    <span>{{info.message}}</span>
    <button (click)="handleResponse()">ok</button>
  </div>
  <form [formGroup]="form" (ngSubmit)="save()" *ngIf="!info?.message">
    <label>
        <input type="email" formControlName="email" [ngClass]="{'error': email.invalid}"> email
    </label>
    <label>
      <input type="text" minLength="7" formControlName="password" [ngClass]="{'error': password.invalid}"> password
    </label>
    <select formControlName="role">
      <option *ngFor="let role of roles" [ngValue]="role">{{ role }}</option>
    </select>
    <button type="submit" [disabled]="!form.valid">Sign up</button>
  </form>
</div>
